
.page-wrapper{

 background-color: #f6efe5;
 margin-bottom: 50px;

}



.intro{
  display: grid;
  grid-template-columns: 1fr ;


}




.summary{
  margin-top: 10px;
  padding: 20px;
  color: black;
  font-weight: bolder;
  font-size: 22px;

 background-color:  #0087be;
  border-bottom: 4px solid black;

}

.preamble{
  margin-top: 10px;
  background-color: #F0E2C5;
  line-height: 30px;
  color: rgb(127, 43, 0);

  border-right: 5px solid black;
  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 18px;
  padding: 100px;
  text-align: center;


}

.explanation{

    /*color: rgb(218, 110, 180); */
    color: #0087be;

    padding: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 10px dashed black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4/5;
    font-family: "Comic Sans MS", "cursive", sans-serif;
    /*  border-top: 5px solid black;
      color: rgb(127, 43, 0);
      font-family: helvetica;
      font-size: 18px;
      font-weight: bolder;
      text-align: justify;
      white-space: inherit;
      padding: 20px;
      margin-top:100px;
      margin-bottom:2px;*/



  }


.participation{
  background-color: #F0E2C5;
  line-height: 30px;
  text-align: center;
  z-index: 0;

  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 20px;
  padding: 100px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3/4;
  color: rgb(21, 50, 97) ;

}

.requirements{
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 80px;
  line-height: 30px;
/*  background-color: rgb(21, 50, 97);*/
background-color: #F0E2C5;
 color: black;
  border-top: 5px solid black;

  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 15px;
  margin-bottom: 100px;
  margin-top:100px;
  border-bottom: 80px solid  #0087be ;
  grid-column-start: 1;
  grid-column-end: 3;

}






.main{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto auto auto auto;

}





.benefits{
  grid-row: 2/3;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  color: rgb(76, 49, 0) ;
  font-size: 20px;
  font-family: "Comic Sans MS", "cursive", sans-serif;
  margin-bottom: 15px;


}






footer{
  display: grid;
  grid-row: 1/auto;
  grid-column-start: 1;
  grid-column-end: 4;

  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  padding: 50px;
  border-bottom: 5px solid rgb(255, 170, 12);
}

.zen-validate-html{
  background-color: rgb(21, 50, 97);
  background-size: cover;
  padding: 60px;
  color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
}

.zen-license{
  background-color: rgb(21, 50, 97);
  background-size: cover;
  padding: 60px;
  color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
}

.zen-github{
  background-color: rgb(21, 50, 97);
  background-size: cover;
  padding: 60px;
  color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
}

.zen-validate-css{
  background-color: #F0E2C5;
  background-size: cover;
  padding: 60px;
  color: black;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
border-left: 2px solid black;
}

.zen-accessibility{
  background-color: #F0E2C5;
  background-size: cover;
  padding: 60px;
  color: black;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
}


h1{

  font-size: 100px;
  text-align: center;
  font-family: "garamond";
  text-decoration: overline;




}

h2{
  font-size: 80px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(255, 170, 12);




}

h3{
    padding: 15px;
    padding-top: 20px;
    color: black;
    font-size: 30px;
    border-top: 5px solid black;


}


.zen-resources a:link, .zen-resources a:visited {
    color:black;

}






a:not(.class) {
  color: black;
  font-weight: bolder;



}

a.zen-validate-html{
  color: white;
}

a.zen-license{
  color: white;
}

a.zen-github{
  color: white;
}

.requirements a:link, .requirements a:visited {
    padding: 10px;
    padding-top: 15px;
}









[role=banner] {

  background-image: url(https://lh3.googleusercontent.com/-8_ez5fnzK7g/WamPHHjS6mI/AAAAAAAAASo/-d0BnSyCt20efUPP60CfSpZ_WXtUee8TACL0BGAs/w530-d-h351-p-rw/sameeksha.jpg);
  background-size: cover;
  padding: 100px;
  background-blend-mode: hue;
  background-repeat: no-repeat;
  color: black;


}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.design-selection{
/*background-color: #F0E2C5;*/
  color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
padding-bottom: 15px;
background-color: rgb(255, 170, 12);
}


.design-archives{
background-color: #F0E2C5;

/*background-color: rgb(21, 50, 97);*/
/*  background-color:rgb(21, 50, 97)*/

  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
padding-bottom: 15px;
}



.zen-resources{


/*  background-color: #F0E2C5;*/
background-color: rgb(255, 170, 12);
  color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
padding-bottom: 15px;
}


@media only screen
 and (max-width:600px){


  footer{
    display: grid;
    grid-template-columns: 1fr;
  }


.benefits{
  text-align: center;
}

.main{
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper{
  display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: auto auto ;
}

.summary{
  color: white;
}


}






@media only screen
  and (max-width: 370px)

  {









 .summary{
   display: block;
   grid-template-columns: 1fr ;

   background-color: blue;
   font-size: 15px;


 }


  footer{
    display: grid;
    grid-template-columns: 1fr;
  }





.zen-validate-htm{
  grid-column: 1/2;
}

.zen-validate-css{
  grid-column: 1/2;

}

.benefits{


  grid-column-start: 1;
  grid-column-end: 4;
  line-height: 18px;
  color: rgb(127, 43, 0);
  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 16px;
  padding: 16px;
  margin: 5px;
  text-align: center;
  color: black;
  border-left: 10px dashed rgb(255, 170, 12) ;
  border-bottom: 5px solid rgb(207, 64, 145)  ;

}
.participation{


  grid-column-start: 1;
  grid-column-end: 4;
  line-height: 18px;
  color: black;
  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 16px;
  padding: 16px;
  margin: 5px;
  text-align: center;
  background-color:  #0087be;
}

.explanation{
  grid-column-start: 1;
  grid-column-end: 4;
  line-height: 18px;
  border-top: 5px solid black;
  color: rgb(127, 43, 0);
  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 16px;
  padding: 16px;
  margin: 5px;
  text-align: center;
  border-bottom: 15px solid rgb(255, 170, 12) ;

}

.requirements{
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #F0E2C5;
  line-height: 18px;
  color: rgb(127, 43, 0);
  z-index: 0;
  border-right: 5px solid black;
  font-family: "Comic Sans MS", "cursive", sans-serif;
  font-size: 14px;
  padding: 16px;
  margin: 5px;
  text-align: center;
}




.wrapper{
  display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: auto auto ;
}

.zen-resources{


/*  background-color: #F0E2C5;*/
background-color:rgb(207, 64, 145) ;
  color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
padding-bottom: 15px;
margin: 15px;
text-align: center;
margin-bottom: 20px;
}


.design-archives{
background-color: #F0E2C5;

/*background-color: rgb(21, 50, 97);*/
/*  background-color:rgb(21, 50, 97)*/

  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
padding-bottom: 15px;
margin: 15px;
text-align: center;

}

.design-selection{
/*background-color: #F0E2C5;*/
  color: white;
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
text-align: center;
padding-bottom: 50px;
padding-top: 20px;
background-color: rgb(255, 170, 12);
margin: 5px;
text-align: center;
}
